<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Title: {{ ctx_book.title }}</h1>
    <h1>Description: {{ ctx_book.description }}</h1>
    <h1>Lists: {{ ctx_book.list_count }}</h1>
    <h1>Price: {{ ctx_book.price }}</h1>
    <h1>Rate list: {{ ctx_book.rate_list }}</h1>
    <h1>Rate: {{ ctx_book.rate }}</h1>
</body>
</html>